<!DOCTYPE html>
<html>
  <head>
    <% include layout.ejs -%>
    <meta http-equiv="cache-control" content="max-age=3600" />
    <meta http-equiv="cache-control" content="public" />
    <meta http-equiv="pragma" content="public" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
