<html>
  <head>
    <% include layout.ejs -%>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  </head>
  <body ng-app="app" ng-controller="ctrl">
    <h1><center> Login </center></h1>
    <p><center> Please Sign In</center></p>
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="http://vignette3.wikia.nocookie.net/clubpenguin/images/8/82/Polka_Dot_Puffle_Hat.png/revision/latest?cb=20131027053109" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" action="/" method = "post">
                <span id="reauth-user" class="reauth-user"></span>
                <input type="user" id="inputUser" name="user" class="form-control" placeholder="Username" required autofocus>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
              <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
        </div><!-- /card-container -->
    </div><!-- /container -->
  </body>



</html>
