<!DOCTYPE html>
<html>
  <head>
  	 <% include layout.ejs -%>
  </head>
  <body>
    <h1><center>Register your hat shop account!</center></h1>
    <form action="/register" method = "post">
      <div class="container">
          <div class="card card-container">
              <img id="profile-img" class="profile-img-card" src="http://vignette2.wikia.nocookie.net/legacyrsps/images/1/1c/350px-Red_party_hat_svg.png/revision/latest?cb=20111207205402" />
              <p id="profile-name" class="profile-name-card"></p>
              <form class="form-signin" action="/" method = "post">
                  <span id="reauth-user" class="reauth-user"></span>
                  <input type="text" placeholder="Enter Email" class="form-control" name="email" required>
                  <input type="password" placeholder="Enter Password" class="form-control" name="psw" required>
                  <input type="password" placeholder="Repeat Password" class="form-control" name="pswrepeat" required>
                  <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
                  <div id="remember" class="checkbox">
                  </div>
                  <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign Up</button>
                  <a class="btn btn-lg btn-primary btn-block btn-cancel" onClick = "window.location='/';">Cancel</a>
              </form><!-- /form -->
          </div><!-- /card-container -->
      </div><!-- /container -->
	 </form>
  </body>
</html>
