<!DOCTYPE html>
<html>
  <head>
  <% include layout.ejs -%>
  <script src="/javascripts/searchajax.js"></script>
  </head>
  <body>
    <div class="quickmenu">
      <% if(typeof tag != "undefined"){ %>
        <ul class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li><a href="/search">Search </a></li>
          <li class="active"><%= tag %> </li>
        </ul>  
      <% } else{ %>  
        <ul class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">Search </a></li>
        </ul>  
      <% } %>
    </div>
    <% if(typeof itemArray != "undefined"){ %>
      <div class="shopping-list">
          <div class="well well-sm">
              <strong>View</strong>
              <div class="btn-group">
                  <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
                  </span>List</a> 
                  <a href="#" id="grid" class="btn btn-default btn-sm"><span
                      class="glyphicon glyphicon-th"></span>Grid</a>
              </div>
          </div>
          <div id="products" class="row list-group">
            <% for(var i=0; i<itemArray.length; i++) {%>
                  <div class="item  col-xs-4 col-lg-4">
                      <div class="thumbnail">
                          <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" />
                          <div class="caption">
                              <h4 class="group inner list-group-item-heading">
                                   <%= itemArray[i].name %></h4>
                              <p class="group inner list-group-item-text">
                                   <%= itemArray[i].description %> </p>
                              <div class="row">
                                  <div class="col-xs-12 col-md-6">
                                      <p class="lead">
                                         $<%= itemArray[i].price %> </p>
                                  </div>
                                  <div class="col-xs-12 col-md-6">
                                      <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
            <% } %>
          </div>
      </div>
    <% } else{ %>  
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon fa fa-search"></span>
          <input class="form-control" name="searchText" type="text">
          <span class="input-group-btn">
            <button id="searchButton" class="btn btn-default" type="button">Search</button>
          </span>
        </div>
      </div>
    <% } %>
  </body>
</html>
