<!DOCTYPE html>
<html>
  <% include layout.ejs -%>
  <body>
    <ul class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/">Search </a></li>
      <li class="active"><%= tag %> </li>
    </ul>    
  </body>
</html>
