  <body>
    <div class="top-row">
      <div class="shop-header">
        <h1>Hat Shop</h1>
      </div>
    </div>
    <!-- NavBar -->
    <div class="bottom-row"> 
      <% include navBar.ejs%>
    </div>
  </body>