body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.shop-header{
  border-bottom: 1px solid;
  color: #eeeeee;
  margin-top: 15px;
  margin-bottom: 24px;
}

.shop-header h1{
  font-size: 70px;
}
/*.glyphicon glyphicon-floppy-saved{
  padding-top: 19.5px;
  padding-bottom:19.5px;
}*/
